body {
    overflow-x: hidden;
    /* font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif; */
}
a{
    text-decoration: none;
}

.bs{
    margin-bottom: 80px;
}
.top-space {
    height: 70px;
}

section {
    padding-bottom: 100px;
}

.text-main {
    color: #f0498c;
}

.sec-title {
    position: relative;
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: #f0498c;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 45px;
}

.sec-title::before {
    content: '';
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 80px;
    background-color: #f0498c;
    border-radius: 40px;
}

.banner-admission img {
    height: 400px;
    width: 100%;
    object-fit: contain;
}

.std-item {
    text-align: center;
    padding: 30px 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  .std-block__icon {
    margin-bottom: 15px;
  }

  .std-block__title {
    text-transform: uppercase;
    font-size: 20px;
  }

.about-title {
    font-size: 1.1rem;
    color: #333;
    font-weight: 700;
    text-transform: uppercase;

    &::first-letter {
        font-size: 2.5rem;
        font-weight: 800;
        color: #f0498c;
    }
}

.about-txt {
    font-size: 0.9rem;
    color: #888;

    &::first-letter {
        font-size: 2.5rem;
        font-weight: 800;
        color: #f0498c;
    }
}

.quotes-block {
    padding: 150px 0;
    background: url('../image/quotes-pattern.png') no-repeat center;
    background-size: cover
}

.quotes__txt {
    max-width: 900px;
    margin: 0 auto;
    font-size: calc(17px + 3vw);
    text-align: center;
}

.quotes__author {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #f0498c;
}

.news-title {
    position: relative;
    background: #f0498c;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    z-index: 100;
}

.news-col-two {
    background: rgb(252, 252, 252);
    border: 1px solid rgb(214, 214, 214);
}

.news-marquee {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: 600;
    color: #111111;
    transform: translate(100%, 0);
    animation: marquee 30s linear infinite;

}

@keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(-80%, 0)
    }
}
.teacher-item {
    text-align: center;
    padding: 30px 10px;
    border: 1px solid #d6d6d6;
    cursor: grab;
  }

  .teacher-block__icon {
    margin-bottom: 15px;
  }

  .teacher-block__title h3 {
    text-transform: uppercase;
    font-size: 18px;
  }
  .swiper-button-next:after, .swiper-button-prev:after{
    font-size: 35px !important;
    color: #f0498c;
  }
  .teacher-block__sub-title{
    color: #f0498c;
    font-size: 14px;
    font-style: italic;
  }
.map-container,
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}

.map-container iframe,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* BTN */
.btn-main {
    background: #f0498c;
    border: 1px solid #f0498c;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.btn-main:hover,
.btn-main:active {
    background-color: initial;
    background-position: 0 0;
    color: #f0498c;
}

.btn-main:active {
    opacity: .5;
}

/* dashboard */
.right-section {
    padding: 70px 0;
}


aside {
    position: fixed;
    top: 80px;
    left: 0;
    color: #fff;
    width: 250px;
    padding-left: 20px;
    height: 100vh;
    background-image: linear-gradient(30deg, #0048bd, #44a7fd);
    border-top-right-radius: 80px;
}

aside a {
    font-size: 14px;
    color: #fff;
    display: block;
    padding: 12px;
    padding-left: 30px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

aside a:hover ,aside a.active {
    color: #3f5efb;
    background: #fff;
    outline: none;
    position: relative;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

aside a i {
    margin-right: 5px;
}

aside a:hover::after ,aside a.active::after{
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: 100%;
    right: 0;
    height: 35px;
    width: 35px;
    border-bottom-right-radius: 18px;
    box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before,aside a.active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: 38px;
    right: 0;
    height: 35px;
    width: 35px;
    border-top-right-radius: 18px;
    box-shadow: 0 -20px 0 0 #fff;
}

aside p {
    margin: 0;
    padding: 40px 0;
}

/* body {
    font-family: 'Roboto';
    width: 100%;
    height: 100vh;
    margin: 0;
}

.social {
    height: 0;
}

.social i:before {
    width: 14px;
    height: 14px;
    font-size: 14px;
    position: fixed;
    color: #fff;
    background: #0077B5;
    padding: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
} */
